#ckeck {
  background-color: black;
}
#label {
  font-style: unset;
  font-size: large;
}
#paginado {
  margin-left: 73px;
}
.card {
  background-color: #e8ffff !important;
}
#posicionbtn {
  padding-left: 0%;
}
