<!-- <div class="row">
  <div class="col-md-12">
      <form #f="ngForm" (ngSubmit)="accion(f)" ngNativeValidate class="was-validated">

        <div class="row">

          <div class="form-group col-6">
              <label for="title">Categoria Nombre</label>
              <input type="text"
              oninvalid="setCustomValidity('El nombre es obligatorio rescatate')"
              oninput="setCustomValidity('')"
              minlength="2"
              class="form-control" 
              id="nombre" 
              name="nombre"
              placeholder="Ingrese Nombre"
              [(ngModel)]="item.nombre"
              required />
          </div>
          <div class="form-group col-6">
            <label for="title">Categoria Apellido</label>
            <input type="text" class="form-control"
            oninvalid="setCustomValidity('El apellido es obligatorio olo')"
            oninput="setCustomValidity('')"
            [(ngModel)]="item.apellido"
            minlength="2"
            name="apellido" 
            id="apellido" 
            placeholder="ingrese Apellido"
            required />
        </div>
        <div class="form-group col-6">
          <label for="title">Categoria DNI</label>
          <input type="text" class="form-control"
          oninvalid="setCustomValidity('El número de DNI es obligatorio')"
          oninput="setCustomValidity('')"
          [(ngModel)]="item.norDni"
          minlength="2"
          name="norDni" 
          id="norDni" 
          placeholder="ingrese número de DNI"
          required />
      </div>
      </div>



          <div class="form-group">
              <input type="submit" name="btn" value="Aceptar" class="btn btn-primary btn-lg btn-block float-left" />

              <ng-container *ngIf="item.id>0;then boton ">
              </ng-container>
              <ng-template #boton>
                  &nbsp;
                
              </ng-template>
          </div>


      </form>

  </div>
</div> -->

<div class="row">
  <div class="col-md-12">
    <h2><b>ABM Persona</b></h2>
    <form
      #f="ngForm"
      (ngSubmit)="doAction(f)"
      ngNativeValidate
      class="was-validated"
    >
      <hr />
      <div class="row">
      <div class="form-group col-6">
        <label for="title">Nombre</label>
        <input
          type="text"
          oninvalid="setCustomValidity('El nombre es obligatorio rescatate')"
          oninput="setCustomValidity('')"
          minlength="2"
          class="form-control"
          id="nombre"
          name="nombre"
          placeholder="Ingrese Nombre"
          [(ngModel)]="item.nombre"
          required
        />
      </div>
      <div class="form-group col-6">
        <label for="title">Apellido</label>
        <input
          type="text"
          class="form-control"
          oninvalid="setCustomValidity('El apellido es obligatorio')"
          oninput="setCustomValidity('')"
          [(ngModel)]="item.apellido"
          minlength="2"
          name="apellido"
          id="apellido"
          placeholder="Ingrese Apellido"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group col-6">
        <label for="title">Número DNI</label>
        <input
          type="text"
          class="form-control"
          oninvalid="setCustomValidity('El número de DNI es obligatorio')"
          oninput="setCustomValidity('')"
          [(ngModel)]="item.norDni"
          minlength="2"
          name="norDni"
          id="norDni"
          placeholder="Ingrese número de DNI"
          required
        />
      </div>
    </div>
      <hr />
      <div class="form-group">
        <button
          type="submit"
          [disabled]="procesando"
          name="btn"
          class="btn btn-primary btn-lg btn-block float-left"
        >
          Aceptar
          <i
            class="fa fa-spinner fa-spin"
            *ngIf="procesando"
            aria-hidden="true"
          ></i>
        </button>
        &nbsp;
        <a (click)="back()" #cerrar class="btn btn-info btn-lg btn-block">
          <i class="fas fa-arrow-left"></i> Volver
        </a>
        <ng-container *ngIf="id > 0; then boton"> </ng-container>
        <ng-template #boton> </ng-template>
      </div>
    </form>
  </div>
</div>
