<div class="row">
  <div class="col-md-12">
    <h2><b>ABM Orden de compra</b></h2>
    <form
      #f="ngForm"
      (ngSubmit)="doAction(f)"
      ngNativeValidate
      class="was-validated"
    >
      <hr />
      <div class="row">
        <!-- expediente -->
        <div class="form-group col-md-4">
          <label for="title">Número de Expediente</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="4"
            (keydown.enter)="buscar(2)"
            id="nroExpte"
            name="nroExpte"
            placeholder="Número de expediente"
            [(ngModel)]="item.nroExpediente"
          />
        </div>
        <!-- orden de compra -->
        <div class="form-group col-md-4">
          <label for="title">Número Orden de Compra</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="4"
            (keydown.enter)="buscar(1)"
            id="nroOrdenCompra"
            name="nroOrdenCompra"
            placeholder="Orden de compra"
            [(ngModel)]="item.ordenCompraNum"
          />
        </div>
        <!-- licitacion -->
        <div class="form-group col-md-4">
          <label for="title">Número de Licitación</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="4"
            id="nroLicitacion"
            name="nroLicitacion"
            placeholder="Número de licitacion"
            [(ngModel)]="item.nroLicitacion"
          />
        </div>
      </div>
      <div class="row">
        <!-- preadjudicacion -->
        <div class="form-group col-md-4">
          <label for="title">Número de Preadjudicación</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="4"
            id="nroPreadjudicacion"
            name="nroPreadjudicacion"
            placeholder="Nro. de Preadjudicacion"
            [(ngModel)]="item.nroPreadjudicacion"
          />
        </div>

        <!-- nota preadjudicacion -->
        <div class="form-group col-md-4">
          <label for="title">Nota de Preadjudicación</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="4"
            id="notaPreadjudicacion"
            name="notaPreadjudicacion"
            placeholder="Nota de Preadjudicacion"
            [(ngModel)]="item.notaPreadjudicacion"
          />
        </div>
        <!-- nota preadjudicacion -->
        <div class="form-group col-md-4">
          <label for="title">Número de factura</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="4"
            id="nroFactura"
            name="nroFactura"
            placeholder="Número de factura"
            [(ngModel)]="item.nroFactura"
          />
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4">
          <label for="title">Orden de pago</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="4"
            id="ordenPago"
            name="ordenPago"
            placeholder="Orden de pago"
            [(ngModel)]="item.ordenPago"
          />
        </div>

        <div class="col-md-4">
          <!-- fecha compra -->
          <label id="label">Fecha compra</label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checked"
                  id="checked"
                  type="checkbox"
                  [(ngModel)]="checked"
                />
              </div>
            </div>
            <input *ngIf="checked"
              id="fecha"
              name="fecha"
              
              [(ngModel)]="item.fecha"
              type="date"
              class="form-control"
            />
          </div>
        </div>

        <!-- Proveedor -->

        <div class="col-lg-4">
          <app-combo-proveedor
            [dibujar]="item.proveedor"
            (emity)="seleccionProveedor($event)"
          ></app-combo-proveedor>
        </div>

        <!-- select tipo alta -->
      </div>
      <div class="row">
        <div class="col-md-4">
          <!-- fecha compra -->
          <label id="label">Fecha de pago de compra</label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checkedfechaPago"
                  id="checkedfechaPago"
                  type="checkbox"
                  [(ngModel)]="checkedfechaPago"
                />
              </div>
            </div>
            <input *ngIf="checkedfechaPago"
              id="fechaPago"
              name="fechaPago"
              
              [(ngModel)]="item.fechaPago"
              type="date"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="title">Tipo de compra</label>
          <select
            class="form-control"
            data-style="btn-primary"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            [(ngModel)]="item.tipoCompra"
            name="tipoCompra"
            id="tipoCompra"
            required
          >
            <option value="CD">Contratación Directa</option>
            <option value="CP">Concurso de Precios</option>
            <option value="LPr">Licitación Privada</option>
            <option value="LPu">Licitación Pública</option>
          </select>
        </div>
        <!-- estado de compra -->
        <!-- <div class="form-group col-md-4">
          <label for="title">Estado de compra</label>
          <select
            class="form-control"
            data-style="btn-primary"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            [(ngModel)]="item.estadoCompra"
            name="estadoCompra"
            id="estadoCompra"
            required
          >
            <option value="CD">Pagado</option>
            <option value="CP">Falta de pago</option>
            <option value="LPr">Faltan equipos</option>
          </select>
        </div> -->
        <div class="col-md-4">
          <!-- fecha Invitación -->
          <label id="label">Fecha de Invitación</label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checkedInvitacion"
                  id="checkedInvitacion"
                  type="checkbox"
                  [(ngModel)]="checkedInvitacion"
                />
              </div>
            </div>
            <input
            *ngIf="checkedInvitacion"
              id="fechaInvitacion"
              name="fechaInvitacion"
              [(ngModel)]="item.fechaInvitacion"
              type="date"
              class="form-control"
            />
          </div>
        </div>

      </div>

      <div class="row">
        
        <div class="col-md-6">
          <!-- fecha Licitación -->
          <label id="label">Fecha de Licitación</label>
          <div class="input-group mb-6">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checkedlicitacion"
                  id="checkedlicitacion"
                  type="checkbox"
                  [(ngModel)]="checkedlicitacion"
                />
              </div>
            </div>
            <input *ngIf="checkedlicitacion"
              id="fechaLicitacion"
              name="fechaLicitacion"
              [(ngModel)]="item.fechaLicitacion"
              type="date"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-6">
          <!-- fecha Adjudicación -->
          <label id="label">Fecha de Adjudicación</label>
          <div class="input-group mb-6">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checkedadjudicacion"
                  id="checkedadjudicacion"
                  type="checkbox"
                  [(ngModel)]="checkedadjudicacion"
                />
              </div>
            </div>
            <input *ngIf="checkedadjudicacion"
              id="fechaAdjudicacion"
              name="fechaAdjudicacion"
              [(ngModel)]="item.fechaAdjudicacion"
              type="date"
              class="form-control"
            />
          </div>
        </div>
      </div>
        <br>
      <div class="row">
        <!-- Observaciones -->
        <div class="form-group col-md-12">
          <div class="form-floating">
            <label for="floatingTextarea">Observaciones</label>
            <textarea
              [(ngModel)]="item.observacion"
              class="form-control"
              name="observacion"
              placeholder="Observaciones de la orden de compra"
              id="observacion"
            ></textarea>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <button
          type="submit"
          [disabled]="procesando"
          name="btn"
          class="btn btn-primary btn-lg btn-block float-left"
        >
          Aceptar
          <ng-container *ngIf="getProceso(); then mostrar"></ng-container>
          <ng-template #mostrar>
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </ng-template>
        </button>
        &nbsp;
        <a (click)="back()" #cerrar class="btn btn-info btn-lg btn-block">
          <i class="fas fa-arrow-left"></i> Volver
        </a>
      </div>
    </form>
  </div>
</div>
