<div class="row">
  <div class="col-md-12">
    <h2><b>ABM Orden de compra</b></h2>
    <form
      #f="ngForm"
      (ngSubmit)="doAction(f)"
      ngNativeValidate
      class="was-validated"
    >
      <hr />
      <div class="row">
        <!-- expediente -->
        <div class="form-group col-md-6">
          <label for="title">Número de Expediente</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="2"
            id="nroExpte"
            name="nroExpte"
            placeholder="Número de expediente"
            [(ngModel)]="item.nroExpediente"
          />
        </div>
        <!-- fecha compra -->
        <div class="form-group col-md-6">
          <label id="label">Fecha Pedido Compra</label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checked"
                  id="checked"
                  type="checkbox"
                  [(ngModel)]="checked"
                />
              </div>
            </div>
            <input
              *ngIf="checked"
              id="fecha"
              name="fecha"
              [(ngModel)]="item.fecha"
              type="date"
              class="form-control"
            />
          </div>
        </div>
      </div>

      <div class="row">
        <!-- tipo de compra -->
        <div class="col-md-6">
          <label for="title">Tipo de compra</label>
          <select
            class="form-control"
            data-style="btn-primary"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            [(ngModel)]="item.tipoCompra"
            name="tipoCompra"
            id="tipoCompra"
            required
          >
            <option value="CD">Contratación Directa</option>
            <option value="CP">Concurso de Precios</option>
            <option value="LPr">Licitación Privada</option>
            <option value="LPu">Licitación Pública</option>
          </select>
        </div>
        <!-- orden de compra -->
        <div class="form-group col-md-6">
          <label for="title">Número de Compra</label>
          <input
            class="form-control"
            type="text"
            oninvalid="setCustomValidity('El campo es obligatorio')"
            oninput="setCustomValidity('')"
            minlength="4"
            (keydown.enter)="buscar(1)"
            id="ordenCompraNum"
            name="ordenCompraNum"
            placeholder="Orden de compra"
            [(ngModel)]="item.ordenCompraNum"
          />
        </div>
      </div>
      <div class="row">
        <!-- fecha Invitación -->
        <div class="col-md-6">
          <label id="label">Fecha invitación a cotizar</label>
          <div class="input-group mb-4">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checkedInvitacion"
                  id="checkedInvitacion"
                  type="checkbox"
                  [(ngModel)]="checkedInvitacion"
                />
              </div>
            </div>
            <input
              *ngIf="checkedInvitacion"
              id="fechaInvitacion"
              name="fechaInvitacion"
              [(ngModel)]="item.fechaInvitacion"
              type="date"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-md-6">
          <label id="label">Fecha y hora de apertura</label>
          <div class="input-group mb-6">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checkedfechacompra"
                  id="checkedfechacompra"
                  type="checkbox"
                  [(ngModel)]="checkedfechacompra"
                />
              </div>
            </div>
            <input
              *ngIf="checkedfechacompra"
              id="fechaOrdenCompra"
              name="fechaOrdenCompra"
              [(ngModel)]="item.fechaOrdenCompra"
              type="date"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <!-- fecha Adjudicación -->
        <div class="col-md-6">
          <label id="label">Fecha de Preadjudicación</label>
          <div class="input-group mb-6">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checkedadjudicacion"
                  id="checkedadjudicacion"
                  type="checkbox"
                  [(ngModel)]="checkedadjudicacion"
                />
              </div>
            </div>
            <input
              *ngIf="checkedadjudicacion"
              id="fechaAdjudicacion"
              name="fechaAdjudicacion"
              [(ngModel)]="item.fechaAdjudicacion"
              type="date"
              class="form-control"
            />
          </div>
        </div>
        <!-- fecha Licitación -->
        <div class="col-md-6">
          <label id="label">Fecha Notificación de Preadjudicación</label>
          <div class="input-group mb-6">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input
                  name="checkedlicitacion"
                  id="checkedlicitacion"
                  type="checkbox"
                  [(ngModel)]="checkedlicitacion"
                />
              </div>
            </div>
            <input
              *ngIf="checkedlicitacion"
              id="fechaLicitacion"
              name="fechaLicitacion"
              [(ngModel)]="item.fechaLicitacion"
              type="date"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <!-- Observaciones -->
        <div class="form-group col-md-12">
          <div class="form-floating">
            <label for="floatingTextarea">Observaciones</label>
            <textarea
              [(ngModel)]="item.observacion"
              class="form-control"
              name="observacion"
              placeholder="Observaciones de la orden de compra"
              id="observacion"
            ></textarea>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <button
          type="submit"
          [disabled]="procesando"
          name="btn"
          class="btn btn-primary btn-lg btn-block float-left"
        >
          Aceptar
          <ng-container *ngIf="getProceso(); then mostrar"></ng-container>
          <ng-template #mostrar>
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </ng-template>
        </button>
        &nbsp;
        <a (click)="back()" #cerrar class="btn btn-info btn-lg btn-block">
          <i class="fas fa-arrow-left"></i> Volver
        </a>
      </div>
    </form>
  </div>
</div>
