h3{
    color: black;
}
.card{
background-color: #E8FFFF !important;    
}
b{
    font-size: 30px;
}
span{
    color: red !important;
    font-size: 30px;
}
.modal-title{
    color: blue !important;
}