<div class="overlay" *ngIf="load">
  <app-wg-cargando></app-wg-cargando>
</div>
<div>
  <div *ngIf="!load">
    <div class="card border-info">
      <div class="card-body">
        <div class="card-header">
          <b>Listado de {{ entity }}</b>
          &nbsp;
          <!--             show-delay="10" data-toggle="modal" data-target="#modelId"
  -->
          <a
            title="Agregar Nuevo"
            placement="right"
            (click)="linkear(0)"
            class="btn btn-primary btn-redondo"
          >
            <i class="fa fa-plus" aria-hidden="true"></i>
          </a>
        </div>

        <app-fil-entrega-equipo-unidad (filter)="doFound($event)">
        </app-fil-entrega-equipo-unidad>

        <div class="row {{ scroll(items) }}">
          <table
            id="tablaEquipos"
            *ngIf="items.length > 0"
            class="table table-striped table-inverse text-center"
          >
            <thead class="table-light">
              <tr>
                <!-- <th>id</th> -->
                <th>Marca</th>
                <th>Modelo</th>
                <th>Nro.serie|Id.Pol</th>
                <th>Tipo Equipo</th>
                <th>Unidad Entregada</th>
                <th *ngIf="exportar">Tipo Entrega</th>
                <th *ngIf="exportar">Motivo Entrega</th>
                <th>Fecha Entrega</th>
                <th *ngIf="exportar">Estado</th>
                <th *ngIf="!exportar">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of items">
                <td>{{ item.equipo.modelo.marca.nombre | uppercase }}</td>
                <td>{{ item.equipo.modelo.nombre | uppercase }}</td>
                <td>
                  {{ item.equipo.nroSerie }} - {{ item.equipo.idPolicial }}
                </td>
                <td>{{ item.equipo.tipoEquipo.nombre }}</td>
                <td>{{ item.unidad.nombre }}</td>
                <td *ngIf="exportar">{{ tipoEntrega(item.tipoEntrega) }}</td>
                <td *ngIf="exportar">{{ motivoEntrega(item.nroNota) }}</td>
                <td>{{ item.fechaEntrega | date: "dd/MM/yyyy" }}</td>
                <td *ngIf="exportar">{{ item.equipo.estado.nombre }}</td>
                <td *ngIf="!exportar">
                  <div class="row">
                    <div class="col-md-6">
                      <button
                        type="button"
                        title="Modificar"
                        placement="top"
                        show-delay="10"
                        (click)="linkear(item.id)"
                        class="btn btn-warning btn-sm"
                      >
                        <i class="fas fa-edit"></i>
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button
                        *ngIf="item.movilPol != undefined"
                        (click)="buscarvehiculo(item.movilPol)"
                        type="button"
                        title="Ver vehículo"
                        placement="top"
                        show-delay="10"
                        class="btn btn-danger btn-sm"
                        data-toggle="modal"
                        data-target="#modelId"
                      >
                        <i class="fas fa-car"></i>
                      </button>
                    </div>
                  </div>
                  &nbsp;
                  <div class="row">
                    <div class="col-md-6">
                      <!-- (click)="linkear(item.id)" -->
                      <button
                        type="button"
                        title="Ver Historial del equipo"
                        placement="top"
                        show-delay="10"
                        class="btn btn-primary btn-sm"
                        data-toggle="modal"
                        data-target="#modelIdHistorial"
                        (click)="listarHistorial(item.equipo.id)"
                      >
                        <i class="fa fa-history"></i>
                      </button>
                    </div>
                    <div class="col-md-6">
                      <button
                        type="button"
                        title="Acta de entrega"
                        placement="top"
                        show-delay="10"
                        (click)="linkearActa(item.id)"
                        class="btn btn-info btn-sm"
                      >
                        <i class="fa fa-print"></i>
                      </button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          *ngIf="items.length === 0"
          class="alert alert-primary alert-dismissible fade show"
          role="alert"
        >
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Salir</span>
          </button>
          <strong>No hay datos</strong>
        </div>
      </div>
    </div>

    <button
      *ngIf="items.length > 0"
      (click)="exportTableToExcel('tablaEquipos', 'Equipos_entregados')"
      class="btn btn-outline-success flotante"
    >
      <i class="far fa-file-excel"></i>
      Descargar Excel
    </button>

    <!-- modal-historial del equipo -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="modelIdHistorial"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header" *ngIf="historial.length > 0">
            <h5 id="modal-title" class="modal-title">
              Historial: &nbsp;&nbsp;
              <b
                >{{ historial[0].equipo.modelo.marca.nombre }} -
                {{ historial[0].equipo.modelo.nombre }} -
                {{ historial[0]?.equipo?.nroSerie }}</b
              >
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Unidad</th>
                  <th>Fecha Entrega</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of historial">
                  <td>{{ item.unidad.nombre }}</td>
                  <td>{{ item.fechaEntrega | date: "dd/MM/yyyy" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">
              Salir
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="modelId"
      tabindex="-1"
      role="dialog"
      aria-labelledby="modelTitleId"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">VHF BASE/MOVIL:</h5>
            <button
              #close
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <label for="">
              <b>Id Policial:</b>&nbsp;<span>{{
                vehiculo.identificacionPol | uppercase
              }}</span></label
            >
            <br />
            <label for="">
              <b>Dominio:</b>&nbsp;
              <span>{{ vehiculo.dominio | uppercase }}</span></label
            >
            <br />
            <label for="">
              <b>Marca:</b>&nbsp;<span>{{
                vehiculo.modelo.marca.nombre | uppercase
              }}</span></label
            >
            <br />
            <label for="">
              <b>Modelo:</b>&nbsp;<span>{{
                vehiculo.modelo.nombre | uppercase
              }}</span></label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
