h3{
    color: black;
}
.card{
background-color: #E8FFFF !important;    
}
b{
    font-size: 30px;
}
span{
    color: red !important;
    font-size: 30px;
}
.modal-title{
    color: blue !important;
}
.table-light{
    color: #E8FFFF;
}
#modal-title{
    color: black !important;
}

//boton flotante
.flotante {
	font-size: 12px; /* Cambiar el tamaño de la tipografia */
	text-transform: uppercase; /* Texto en mayusculas */
	font-weight: bold; /* Fuente en negrita o bold */
	color: #ffffff; /* Color del texto */
	border-radius: 9px; /* Borde del boton */
	letter-spacing: 2px; /* Espacio entre letras */
	background-color: #6976bd; /* Color de fondo */
	padding: 13px 10px; /* Relleno del boton */
	position: fixed;
	bottom: 70px;
	right: 8em;
	transition: all 300ms ease 0ms;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	z-index: 99;
}
.flotante:hover {
	background-color: #0dc535; /* Color de fondo al pasar el cursor */
	box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
	transform: translateY(-7px);
}
@media only screen and (max-width: 500px) {
 	.flotante {
		font-size: 14px;
		padding: 12px 20px;
		bottom: 20px;
		right: 20px;
	}
}

thead tr th { 
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: black;
}
.table-responsive {
  height:400px;
  overflow:scroll;
  overflow-x: hidden;
  
}
