<form #f="ngForm" (ngSubmit)="accion(f)" ngNativeValidate class="was-validated">
  <div class="row">
    <!-- identificacion policial -->
    <div class="form-group col-md-6">
      <label for="title">Identificación Policial</label>
      <input
        class="form-control"
        type="text"
        oninvalid="setCustomValidity('El campo es obligatorio')"
        oninput="setCustomValidity('')"
        minlength="4"
        id="idPolicial"
        name="idPolicial"
        placeholder="Ingrese Id. policial"
        [(ngModel)]="item.idPolicial"
      />
    </div>
    <!-- numero serie -->
    <div class="form-group col-md-6">
      <label for="title">Número Serie</label>
      <input
        class="form-control"
        type="text"
        oninvalid="setCustomValidity('El campo es obligatorio')"
        oninput="setCustomValidity('')"
        minlength="4"
        id="nroSerie"
        name="nroSerie"
        placeholder="Ingrese serie"
        [(ngModel)]="item.nroSerie"
        required
      />
    </div>
  </div>
  <div class="row">
    <!-- select tipo alta -->
    <div class="form-group col-md-6">
      <label for="title">Tipo adquisición</label>
      <select
      class="form-control"
        data-style="btn-primary"
        oninvalid="setCustomValidity('El campo es obligatorio')"
        oninput="setCustomValidity('')"
        [(ngModel)]="item.tipoAlta"
        name="tipoAlta"
        id="tipoAlta"
        required
      >
        <option value="Adquisición Policial">Adquisición Policial</option>
        <option value="Donación">Donación</option>
        <option value="Secuestro">Secuestro</option>
      </select>
    </div>
    <!-- fecha alta equipo -->
    <div class="form-group col-md-6">
      <label for="title">Fecha alta equipo</label>
      <input
        class="form-control"
        type="date"
        oninvalid="setCustomValidity('El campo es obligatorio')"
        oninput="setCustomValidity('')"
        id="fechaAlta"
        name="fechaAlta"
        [(ngModel)]="item.fechaAlta"
        required
      />
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <app-combo-proveedor
        [dibujar]="item.proveedor"
        (emity)="seleccionProveedor($event)"
      ></app-combo-proveedor>
    </div>
    <div class="form-group col-md-6">
      <label for="title">Garantía</label>
      <input
        class="form-control"
        type="number"
        oninvalid="setCustomValidity('El campo es obligatorio')"
        oninput="setCustomValidity('')"
        min="0"
        id="garantia"
        name="garantia"
        placeholder="Ingrese garantia"
        [(ngModel)]="item.garantia"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <app-combo-estado
        [dibujar]="item.estado"
        (emity)="seleccionestado($event)"
      ></app-combo-estado>
    </div>
    <div class="col-lg-6">
      <app-combo-modelo-equipo
        [dibujar]="item.modelo"
        (emity)="seleccionmodelo($event)"
      ></app-combo-modelo-equipo>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Guardar</button>
    </div>
  </div>
</form>
