h3 {
  color: black;
}
.card {
  background-color: #e8ffff !important;
}
b {
  font-size: 30px;
}

.table-light {
  background-color: #4fbdba !important;
  color: #e8ffff;
}
table {
  padding: 0% !important;
  font-size: 13px !important;
}
