h3{
    color: black;
}
.card{
background-color: #E8FFFF !important;    
}
b{
    font-size: 30px;
}

#tabla{
    padding: 0px;
  }



//colores de th
.t-light{
    background-color: #E8FFFF;
}

.t-success{ //ASIGNADO
    background-color: lightgreen !important;
}
.t-warning{//NUEVO-ASIGNAR
    background-color: lightyellow !important;
}

.t-danger{//DESGUACE
    background-color: lightcoral !important;
}
.t-primary{//EXTRAVIADO
    background-color: skyblue !important;
}
.t-info{//REASIGNAR
    background-color: lightsalmon !important;
}
.t-violeta{
    background-color: violet;
}
.t-default{
    background-color: #FEF1E6;
}