<div class="row">
  <div class="col-md-12">
    <h2><b>DETALLAR COMPRA</b></h2>
    <hr />
    <div class="row">
      <div class="col-md-12">
        <span>
          <b
            ><em><u>DETALLE DE LA COMPRA:</u></em>
          </b>
        </span>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <label for=""> <b>Expte.:</b></label>
            {{ compra.nroExpediente }}
          </div>
          <div class="col-md-3">
            <label for=""> <b>Fecha Compra:</b></label>
            {{ compra.fecha | date: "dd/MM/yyyy" }}
          </div>
          <div class="col-md-3">
            <label for=""> <b>Nro. Factura:</b></label>
            {{ compra.nroFactura }}
          </div>
          <div class="col-md-3">
            <label for=""> <b>Proveedor:</b></label>
            {{ compra.proveedor.nombre }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for=""> <b>Tipo compra:</b></label>
            {{ tipoCompra(compra.tipoCompra) }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Licitación:</b></label>
            {{ compra.fechaLicitacion | date: "dd/MM/yyyy" }}
          </div>
          <div class="col-md-4">
            <label for=""> <b>Orden de compra:</b></label>
            {{ compra.ordenCompraNum }}
          </div>
        </div>
      </div>
    </div>
    <!-- #f="ngForm"
      (ngSubmit)="doAction(f)"
      ngNativeValidate
      class="was-validated" -->

    <form>
      <hr />
      <div class="row">
        <div class="col-md-12">
          <span>
            <b
              ><em><u>DETALLE A AGREGAR:</u></em>
            </b>
          </span>
        </div>
      </div>
      <br />
      <form
        #f="ngForm"
        (ngSubmit)="guardar(f)"
        ngNativeValidate
        class="was-validated"
      >
        <div class="row">
          <table id="tabla" class="table">
            <thead class="text-center">
              <tr>
                <th>Tipo Equipo</th>
                <th>Marca-Modelo</th>
                <th>Cantidad</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <!-- tipoequipo -->
                  <div class="form-group">
                    <app-combo-tipo-equipo
                      [dibujar]="item.tipo_equipo"
                      (emity)="selecciontipoEquipo($event)"
                    ></app-combo-tipo-equipo>
                  </div>
                </td>
                <td>
                  <!-- modelo -->
                  <div class="form-group">
                    <app-combo-modelo-equipo
                      [dibujar]="item.modelo"
                      (emity)="seleccionmodelo($event)"
                    ></app-combo-modelo-equipo>
                  </div>
                </td>
                <td>
                  <!-- cantidad compradas -->
                  <div class="form-group">
                    <label for="">Agregue cantidad de compra</label>
                    <input
                      class="form-control"
                      type="text"
                      oninvalid="setCustomValidity('El campo es obligatorio')"
                      oninput="setCustomValidity('')"
                      minlength="1"
                      id="cantidad_compra"
                      name="cantidad_compra"
                      placeholder="Compradas"
                      [(ngModel)]="item.cantidad_compra"
                      required
                    />
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <button
                      id="boton"
                      type="submit"
                      title="Guardar"
                      placement="top"
                      show-delay="10"
                      class="btn btn-warning btn-sm"
                    >
                      <i class="fas fa-archive"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <tr *ngFor="let i of items" class="text-center">
                <td>{{ i.tipo_equipo.nombre }}</td>
                <td>{{ i.modelo.marca.nombre }} - {{ i.modelo.nombre }}</td>

                <!-- editar y guardar -->
                <ng-container
                  *ngIf="i.editar; then mostrar; else noMostrar"
                ></ng-container>

                <ng-template #mostrar>
                  <td>
                    <input
                      class="text-center"
                      type="text"
                      id="cantidad"
                      name="cantidad"
                      [(ngModel)]="i.cantidad_compra"
                    />
                  </td>
                  <td>
                    <button
                      type="button"
                      title="Guardar"
                      placement="top"
                      show-delay="10"
                      (click)="guardarboton(i)"
                      class="btn btn-secondary btn-sm btn-redondo"
                    >
                      <i class="fas fa-check-circle"></i>
                    </button>
                    &nbsp;
                    <button
                      type="button"
                      title="Cancelar"
                      placement="top"
                      show-delay="10"
                      (click)="cancelar(i)"
                      class="btn btn-info btn-sm btn-redondo"
                    >
                      <i class="far fa-window-close"></i>
                    </button>
                  </td>
                </ng-template>
                <ng-template #noMostrar>
                  <td>{{ i.cantidad_compra }}</td>
                  <td>
                    <button
                      type="button"
                      title="Modificar"
                      placement="top"
                      show-delay="10"
                      (click)="modificar(i)"
                      class="btn btn-success btn-sm btn-redondo"
                    >
                      <i class="fas fa-edit"></i>
                    </button>
                    &nbsp;
                    <button
                      type="button"
                      title="Eliminar"
                      placement="top"
                      show-delay="10"
                      (click)="eliminar(i)"
                      class="btn btn-danger btn-sm btn-redondo"
                    >
                      <i class="fas fa-calendar-times"></i>
                    </button>
                  </td>
                </ng-template>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
      <hr />
      <div class="form-group">
        <button
          type="submit"
          [disabled]="procesando"
          name="btn"
          class="btn btn-primary btn-lg btn-block float-left"
        >
          Aceptar
          <ng-container *ngIf="getProceso(); then mostrar"></ng-container>
          <ng-template #mostrar>
            <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
          </ng-template>
        </button>
        &nbsp;
        <a (click)="back()" #cerrar class="btn btn-info btn-lg btn-block">
          <i class="fas fa-arrow-left"></i> Volver
        </a>
      </div>
    </form>
  </div>
</div>
