<div id="form" class="container">
<form  class="form" #f="ngForm" ngNativeValidate *ngIf="item">
    <!-- .row>.col-md-4*3-->
    <!-- membrete -->
    <div id="membrete" class="row text-center">
        <div class="col-md-4">
            <img height="80px" width="auto" src="assets/img/logopol.png" alt="">
            <br>
            <label for="">
               <b>PROVINCIA DEL CHACO</b>
               <br>
               <b>POLICIA</b> 
            </label>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <img height="80px" width="auto" src="assets/img/logocom.png" alt="">
            <br>
            <label for="">
                <b>DPTO. COM. E INFORMATICA</b>
                <br>
                <b>DIV. DESARROLLO DE SISTEMAS</b> 
             </label>
        </div>
    </div>
<div class="row">
    <div class="col-md-12 text-center">
        <b>*********************************************************************************************************************************************************</b>
    </div>
</div>
<div id="padding" class="row">
    <div class="col-md-12 text-center">
       <h4><u>{{item.unidad.nombre | uppercase}}</u></h4>
       <h4><u>RECIBO "{{item.equipo.tipoEquipo.nombre | uppercase}}"</u></h4>
       <hr>
    </div>
</div>
    <br>
    <div class="row">
        <div class="col-md-12 text-justify">
            <h5><b><u>RECIBI:</u></b> De la DIVISION DESARROLLO DE SISTEMAS dependiente del DEPARTAMENTO COMUNICACIONES E INFORMATICA el equipamiento que se detalla a continuación: </h5>
        </div>
    </div>

    <!-- .row>.col-md-6*2-->
    <!-- nro serie y tipo combustible -->
    <div class="row">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Serie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row"><b>{{item.equipo.modelo.marca.nombre | uppercase}}</b></td>
                    <td><b>{{item.equipo.modelo.nombre |uppercase}}</b></td>
                    <td><b>{{item.equipo.nroSerie |uppercase}}</b></td>
                </tr>
            </tbody>
        </table>
        <div class="form-group col-md-12">
          <textarea [(ngModel)]="aclaracion" class="form-control formulario" name="" id="" rows="3" cols="115"></textarea>
        </div>
    </div>

    <!-- .row>.col-md-12*1-->
    <!-- observaciones -->
    <div class="row">
        <div class="col-md-12 text-justify">
            <h5><b>OBSERVACIONES:</b><span> El equipo antes mencionado,{{v|uppercase}} se encuentra en estado <b>{{item.equipo.estado.nombre|uppercase}}</b>, funciona correctamente, y se entrega a la unidad de mención en el encabezado en carácter de <b>{{devolver(item.tipoEntrega) | uppercase}}</b>. </span></h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <h5> <b> Resistencia, {{item.fechaEntrega | date:'dd/MM/yyyy'}}</b></h5>
        </div>
    </div>

    <!-- .row>.col-md-6*2-->
    <!-- firma de los empleados -->
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 b"><b>FIRMA:</b> ____________________________________</div>
                <div class="col-md-12 b"><b>ACLARACION:</b> {{item.recibe.apellido}}, {{item.recibe.nombre}}</div>
                <div class="col-md-12 b"><b>DNI:</b> {{item.recibe.norDni}}</div>
                <div class="col-md-12 b"><b>JERARQUIA:</b>_______________<b>Pza.</b>_____</div>
                <div class="col-md-12 text-center"> <b>-RECIBI CONFORME-</b></div>
            </div>
        </div>
        <div class="col md-1"></div>
        <div class="col-md-2">
            <img class="sello" src="assets/img/sellounidadcom.png" alt="">
        </div>
        <div class="col md-1"></div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 b"><b>FIRMA:</b>____________________________________</div>
                <div class="col-md-12 b"><b>ACLARACION:</b> {{item.entrega.apellido}}, {{item.entrega.nombre}}</div>
                <div class="col-md-12 b"><b>DNI:</b> {{item.entrega.norDni}}</div>
                <div class="col-md-12 b"><b>JERARQUIA:</b>_______________<b>Pza.</b>_____</div>
                <div class="col-md-12 text-center"> <b>-ENTREGUE CONFORME-</b></div>
            </div>
        </div>
    </div>


    <br>
    <br>

    <div class="row text-center d-print-none">
        <div class="col-md-12">
            <i class="fas fa-cut  fa-2x  "></i>
           <b>------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</b>
        </div>
    </div>

    

    <div class="col-md-12">
        <button (click)="imprimir()" class="d-print-none btn btn-primary">imprimir</button>
    </div>
<br>

</form>
</div>