<nav
  class="navbar navbar-expand-sm navbar-dark"
  style="background-color: #0669af"
>
  <a
    class="btn btn-outline-dark navbar-brand"
    id="log"
    [routerLink]="['/tablero']"
    >Logística Web</a
  >
  <button
    class="navbar-toggler d-lg-none"
    type="button"
    data-toggle="collapse"
    data-target="#collapsibleNavId"
    aria-controls="collapsibleNavId"
    aria-expanded="false"
    aria-label="Toggle navigation"
  ></button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown">
        <a
          class="btn btn-light nav-link dropdown-toggle"
          id="dropdownId"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >División Patrimonio</a
        >
        <div class="dropdown-menu" aria-labelledby="dropdownId">
          <a class="dropdown-item" [routerLink]="['/marca']">Marcas</a>
          <a class="dropdown-item" [routerLink]="['/modelo']">Modelos</a>
          <a class="dropdown-item" [routerLink]="['/tipocombustible']"
            >Tipo de Combustible</a
          >
          <a class="dropdown-item" [routerLink]="['/tipovehiculo']"
            >Tipo de Vehículo</a
          >
          <a class="dropdown-item" [routerLink]="['/estado']">Estados</a>
          <!-- <a class="dropdown-item" [routerLink]="['/vehiculo']">Vehículos</a> -->
          <a class="dropdown-item" [routerLink]="['/Vehiculo']">Alta y Baja</a>
          <a class="dropdown-item" [routerLink]="['/Asignacion']"
            >Asignación de Vehículos</a
          >
          <a class="dropdown-item" [routerLink]="['/historial']"
            >Historial de Vehículos</a
          >
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <label id="label" for="Name">{{ usuario }}</label> &nbsp; &nbsp;
      <button
        (click)="cerrar()"
        class="btn btn-outline-success my-2 my-sm-0"
        type="submit"
      >
        Cerrar Sesión
      </button>
    </form>
  </div>
</nav>
<br />
<br />
